$color-text-secondary: #adabab;
ion-toolbar {
  --background: white;
  margin-top: 3%;
  ion-buttons {
    position: absolute !important;
    color: $color-text-secondary;
    font-weight: 100;
    ion-back-button {
      text-transform: none;
      font-size: 3vw;
    }
  }
}

ion-title {
  text-align: center;
  color: $color-text-secondary;
  font-size: 3.1vw;
}

label {
  font-size: 2.2rem;
}
