<ion-content>
  <title-header [titlePath]="'Regresar'" [title]="'Mantenimiento'" (onBack)="back($event)"></title-header>

  <ion-grid class="form">
    <ion-col>
      <ion-row>
        <h1 class="title-menu">Registro</h1>
      </ion-row>
      <ion-row>
        <new-records-forms #form (onSubmit)="onSubmit($event)"></new-records-forms>
      </ion-row>
    </ion-col>
  </ion-grid>

  <ion-grid class="footer">
    <ion-row class="ion-justify-content-center">
      <ion-button (click)="form.onSubmit()" [disabled]="(form.form.invalid || loading)" color="primary" size="large">
        <ion-grid>
          <ng-container *ngIf="!loading">
            <ion-col>
              Agregar registro
            </ion-col>
          </ng-container>
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        </ion-grid>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>