<ion-content>
  <div class="content">
    <div class="ion-text-center">
      <ion-label class="title">¡Confirmación!</ion-label>
    </div>
    <div class="ion-text-center">
      <ion-label class="label"
        >Al registrar finalizar el registro no se podrá borrar ni editar, ¿Desea
        guardar la información ingresada?</ion-label
      >
    </div>

    <div class="ion-text-center buttons">
      <ion-button class="btn" color="primary" size="short" (click)="save()"
        >Aceptar</ion-button
      >
      <ion-label (click)="cancel()"> Cancelar</ion-label>
    </div>
  </div>
</ion-content>
