<form [formGroup]="form" class="container">
  <ion-grid fixed class="container container__grid">
    <ion-row class="container container__row container__row--date">
      <ion-col class="container container__column" size="6">
        <ion-item class="container container__item">
          <ion-label class="container container__label">Fecha</ion-label>
          <!-- <ion-datetime class="container container__datetime" display-format="D M YYYY"></ion-datetime> -->
          <ion-input class="container container__datetime" type="text" formControlName="date"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--provedor">
      <ion-col class="container container__column" size="12">
        <ion-item class="container container__item">
          <ion-label class="container container__label" position="stacked">Proveedor</ion-label>
          <ion-input class="container container__input" type="text" required placeholder="Ingrese nombre de provedor"
            formControlName="proveedor">
          </ion-input>
        </ion-item>
        <div *ngIf="proveedor.invalid && (proveedor.dirty || proveedor.touched)">
          <div *ngIf="proveedor.errors.required">
            El campo es requerido
          </div>
          <div *ngIf="proveedor.errors.invalidText">
            Caracteres invalidos
          </div>
        </div>

      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--lotes">
      <ion-col class="container container__column" size="6">
        <ion-item class="container container__item">
          <ion-label class="container container__label" position="stacked">Lote proveedor</ion-label>
          <ion-input class="cotainer container__input" type="text" placeholder="Ingrese lote provedor"
            formControlName="lotProveedor"></ion-input>
        </ion-item>
        <div *ngIf="lotProveedor.invalid && (lotProveedor.dirty || lotProveedor.touched)">
          <div *ngIf="lotProveedor.errors.required">
            El campo es requerido
          </div>
          <div *ngIf="lotProveedor.errors?.invalidCharacters">
            Caracteres invalidos
          </div>
        </div>
      </ion-col>
      <ion-col class="container container__column" size="6">
        <ion-item class="container container__item">
          <ion-label class="container container__label" position="stacked">Lote interno</ion-label>
          <ion-input class="container container__input" type="text" placeholder="Ingrese lote interno"
            formControlName="lotInternal"></ion-input>
        </ion-item>
        <div *ngIf="lotInternal.invalid && (lotInternal.dirty || lotInternal.touched)">
          <div *ngIf="lotInternal.errors.required">
            El campo es requerido
          </div>
          <div *ngIf="lotInternal.errors?.invalidCharacters">
            Caracteres invalidos
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--materia">
      <ion-col class="container container__column" size="12">
        <ion-item class="container container__item">
          <ion-label class="container container__label" position="stacked">Materia prima</ion-label>
          <ion-input class="container container__input" type="text" placeholder="Ingrese materia prima"
            formControlName="rawMaterial"></ion-input>
        </ion-item>
        <div *ngIf="rawMaterial.invalid && (rawMaterial.dirty || rawMaterial.touched)">
          <div *ngIf="rawMaterial.errors.required">
            El campo es requerido
          </div>
          <div *ngIf="rawMaterial.errors?.invalidCharacters">
            Caracteres invalidos
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>